.tracklist{
    display: flex; flex-direction: column;
    padding: 20px;
}
.streaming{
    display: flex; flex-direction: column;
    padding: 20px;
}
li{
    text-decoration: none;
    text-shadow: 1px;
    text-decoration-line: none;
}